<div class="row dashboard-row">
    <section class="col-2 d-flex flex-column align-items-center" id="left-column">
        {{!-- Create New Post/Modal Button --}}
        {{!-- <button type="submit" class="btn mt-5" id="create-new-post" data-bs-toggle="modal"
            data-bs-target="#create-post-modal">+ Create new post</button> --}}

        <!-- Modal -->
        <div class="modal fade" id="create-post-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a new post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column align-items-center">
                        <div class="mb-3 form-elements col-10">
                            <label for="post-image" class="form-label"><i class="fa-solid fa-image"></i></label>
                            <input type="text" class="form-control" id="post-image" placeholder="Image">
                        </div>
                        <div class="mb-3 form-elements col-10">
                            <label for="pet-name" class="form-label">What's your pet's name?</label>
                            <input type="text" class="form-control" id="pet-name" placeholder="petName">
                        </div>
                        <div class="mb-3 form-elements col-10">
                            <label for="pet-type" class="form-label">What kind of pet is it?</label>
                            <input type="text" class="form-control" id="pet-type" placeholder="petName">
                        </div>
                        <div class="mb-3 form-elements col-10">
                            <label for="post-text" class="form-label"><i class="fa-solid fa-comment"></i></label>
                            <input type="text" class="form-control" id="post-text" placeholder="Tell us about your pet">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-info text-white bg-gradient" id="create-post">Create
                            post</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="col-8" id="center-column">
        <h2>Look at all these pets!</h2>
        <ul class="post-list d-flex flex-column align-items-center">
            <li>
                <div class="card col-10 mx-auto my-3" id="#{{post.id}}">
                    <div class="card-header">
                        <h5>{{post.pet_name}} the {{post.pet_type}}<span class="card-subtitle mb-2 text-muted"> w/
                                {{post.user.username}}</span></h5>
                        <p class="mb-2 text-muted">{{format_date post.created_at}}</p>
                    </div>

                    <img src="https://image.shutterstock.com/image-illustration/404-error-page-not-found-600w-308387615.jpg"
                        class="card-img-top" alt="...">
                    <hr class="border border-dark border-1 opacity-25 col-12">
                    <div class="card-body">
                        <p class="card-text">{{post.post_text}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <button onclick="likeClickHandler(this)" class="like-btn btn btn-info bg-gradient"
                            data-id={{post.id}}>{{post.liked_count}} {{format_plural "Like"
                            post.liked_count}}</button>
                        <a href="/post/{{post.id}}" class="btn btn-secondary bg-gradient">{{post.comments.length}} {{format_plural
                            "Comment"
                            post.comments.length}}</a>
                    </div>
                </div>

                <div class="card text-center my-5">
                    <div class="card-header">
                        Add comment
                    </div>
                    <div class="card-body">
                        <div class="form-floating my-5">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                id="comment-body"></textarea>
                            <label for="domment-body">Comments</label>
                        </div>
                        <a href="#" class="btn btn-info bg-gradient mb-3 comment-btn">Add comment</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>

                <div class="comments">
                    {{#each post.comments}}
                    <div class="card mb-2">
                        <div class="card-header">
                            {{user.username}} on {{format_date created_at}}
                        </div>
                        <div class="card-body">
                            {{comment_text}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </li>
        </ul>
    </section>

    <section class="col-2" id="right-column">

    </section>
</div>

<script src="/javaScript/create-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/like.js"></script>