<section>
    <h2>Look at all these pets!</h2>
    <ul class="post-list  d-flex flex-column align-items-center">
        <li>
            {{!-- {{> post-info post}} --}}
            {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a> --}}
            {{!-- <p>{{post.id}}</p> --}}
            {{!-- <p>{{post.user_id}}</p> --}}
            {{!-- <p>{{post.created_at}}</p> --}}
            {{!-- <p>{{post.pet_name}}</p> --}}
            {{!-- <p>{{post.pet_type}}</p> --}}
            {{!-- <p>{{post.post_text}}</p> --}}
            {{!-- <p>{{post.post_image}}</p> --}}
            {{!-- <p>{{post.user.username}}</p> --}}

            <div class="card col-10 mx-auto my-3">
                <div class="card-header">
                    <h5>{{post.pet_name}} the {{post.pet_type}}<span class="card-subtitle mb-2 text-muted"> w/
                            {{post.user.username}}</span></h5>
                    <p class="mb-2 text-muted">{{post.created_at}}</p>
                </div>

                <img src="https://image.shutterstock.com/image-illustration/404-error-page-not-found-600w-308387615.jpg"
                    class="card-img-top" alt="...">
                <hr class="border border-dark border-1 opacity-25 col-12">
                <div class="card-body">
                    <p class="card-text">{{post.post_text}}</p>
                </div>
                <div class="card-footer">
                    {{!-- <a href="#" class="btn btn-info bg-gradient" id="like-btn">Like</a> --}}
                    <textarea id="hidden_id">{{post.id}}</textarea>
                    {{post.liked_count}} <a href="#" class="like-btn">like(s)</a>
                    |
                    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
                </div>
            </div>

            <div class="card text-center my-5">
                <div class="card-header">
                    Add comment
                </div>
                <div class="card-body">
                    <div class="form-floating my-5">
                        <textarea class="form-control" placeholder="Leave a comment here" id="comment-body"></textarea>
                        <label for="domment-body">Comments</label>
                    </div>
                    <a href="#" class="btn btn-info bg-gradient mb-3 comment-btn">Add comment</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>

            <div class="comments">
                {{#each post.comments}}
                <div class="card mb-2">
                    <div class="card-header">
                        {{user.username}} on {{created_at}}
                    </div>
                    <div class="card-body">
                        {{comment_text}}
                    </div>
                </div>
                {{/each}}
            </div>
        </li>
    </ul>
</section>

<script src="/javascript/comment.js"></script>
<script src="/javascript/like.js"></script>